 /* sections */
 section {
     position: relative;
     overflow: hidden;
     height: 700px;
 }



 /* section containers  */
 .container-details {
     display: flex;
     flex-wrap: wrap;
     padding: 40px;
 }

 .container-details div {
     height: 25%;
     width: 25%;
 }

 .service-details {
     color: #fefdfd;
     padding-left: 20px;
     padding-right: 20px;
 }

 /* text */
 h1 {
     margin-top: 200px;
     text-align: center;
     color: #bf4e47;
     font-weight: 700;
     font-size: 40px;
 }

 h2 {
     margin-top: 100px;
     text-align: center;
     color: black;
     font-weight: 550;
     font-size: 30px;
 }

 h3 {
     text-align: center;
     color: black;
 }

 p {
     margin: 0;
     text-align: center;
     font-size: 20px;
     color: #51555f;
     line-height: 2.5ch;
 }

 h1,
 h2,
 h3,
 p {
     font-family: "Roboto Condensed", serif;
 }

 /* specific text */
 #intro-details {
     font-size: 22px;
     line-height: 3ch;
 }

 #aboutus-summary {
     padding-left: 100px;
     padding-right: 100px;
     font-size: 22px;
     line-height: 3ch;
 }

 #services {
     background-color: #bf4e47;
     opacity: 0.89;
 }

 #contact-form {
     height: inherit;
 }

 #companies {
     background-color: #6b707d;
     opacity: 0.89;
     margin-top: 200px;
     height: 400px;
 }

 #company-1 {
     margin-left: 40%;
 }

 #footer {
     background-color: #fefdfd;
     height: 400px;
 }

 .social-media {
     margin-left: 43%;
     font-size: 30px;
 }

 #instagram {
     color: #1a0dab;
     padding: 20px;
 }

 #facebook {
     color: #365899;
     padding: 20px;
 }

 #twitter {
     color: #1da1f2;
     padding: 20px;
 }

 .copy-rights {
     margin-top: 180px;
 }

 a {
     text-decoration: none;
     color: #1a0dab;
     opacity: 0.85;
 }

 a:hover,
 #instagram:hover,
 #facebook:hover,
 #twitter:hover {
     color: #bf4e47;
     opacity: 0.85;
 }

 /* reponsiveness to other devices */
 @media only screen and (max-width: 1336px) {
     #services {
         height: inherit;
     }

     .container-details div {
         height: 50%;
         width: 50%;
     }

     #company-1 {
         margin-left: 35%;
     }

     .social-media {
         margin-left: 40%;
     }

     #aboutus-summary {
         padding-left: 50px;
         padding-right: 50px;
     }
 }

 @media only screen and (max-width: 768px) {
     #services {
         height: inherit;
     }

     #company-1 {
         margin-left: 30%;
     }

     .social-media {
         margin-left: 35%;
     }
 }

 @media only screen and (max-width: 414px) {
     section {
         height: inherit;
         padding-top: 50px;
         padding-bottom: 50px;
     }

     #section-image {
         width: 100%;
         height: 500px;
     }

     #intro-details {
         font-size: 18px;
     }

     #aboutus-summary {
         font-size: 14px;
     }

     .container-details {
         display: flex;
         flex-direction: column;
         flex-wrap: nowrap;
     }

     .container-details div {
         width: 100%;
     }

     .service-details {
         color: #fefdfd;
         padding: 0;
     }

     #company-1 {
         margin-left: 20%;
     }

     .social-media {
         margin-left: 22%;
     }

     .copy-rights {
         margin-top: 350px;
     }

     h1 {
         margin-top: 0;
         font-size: 20px;
     }

     h2 {
         margin-top: 0;
         font-size: 18px;
     }

     h3 {
         font-size: 16px;
     }

     p {
         font-size: 14px;
     }
 }

 @media only screen and (max-width: 375px) {
     section {
         height: inherit;
         padding-top: 50px;
         padding-bottom: 50px;
     }

     #company-1 {
         margin-left: 20%;
     }

     #intro-details {
         font-size: 16px;
     }

     #aboutus-summary {
         font-size: 12px;
     }

     .social-media {
         margin-left: 20%;
     }

     h1 {
         margin-top: 0;
         font-size: 20px;
     }

     h2 {
         margin-top: 0;
         font-size: 18px;
     }

     h3 {
         font-size: 16px;
     }

     p {
         font-size: 14px;
     }
 }

 @media only screen and (max-width: 320px) {
     section {
         height: inherit;
         padding-top: 50px;
         padding-bottom: 50px;
     }

     #section-image {
         width: 100%;
         height: 400px;
     }

     #company-1 {
         margin-left: 20%;
     }

     .social-media {
         margin-left: 20%;
     }

     #instagram,
     #twitter,
     #facebook {
         padding: 15px;
     }

     h1 {
         margin-top: 0;
         font-size: 20px;
     }

     h2 {
         margin-top: 0;
         font-size: 18px;
     }

     h3 {
         font-size: 14px;
     }

     p {
         font-size: 12px;
     }
 }

 /* colors:
Blue : #51555f
Blue 2: #4b4e56
WINE: #9c4c49
wine 2: #dda09c
off white: #fefdfd 
blue 3: #6b707d
wine 3: #bf4e47
blue 4: 40434a
blue 5: 87898d
blue-gray: aaacb1
blue-gray2:a6a8ac
*/