.intro {
    background-color: #51555f;
    /* border-bottom-right-radius: 100px; */
    width: 100%;
    height: 500px;
    /* transform: skewY(-5deg) */
}
h1 {
    color:black;
}

.image {
    /* background-image: url("../Img/washington_dc_picture2.jpeg"); */
    width: 50%;
    height: 800px;
     /* transform: skew(0.05turn) */
}

/* colors:
Blue : #51555f
Blue 2: #4b4e56
WINE: #9c4c49
wine 2: #dda09c
off white: #fefdfd 
blue 3: #6b707d
wine 3: #bf4e47
blue 4: 40434a
blue 5: 87898d
blue-gray: aaacb1
blue-gray2:a6a8ac
*/