form {
    text-align: center;
}
input, textarea {
    font-family: "Roboto Condensed", serif;
    font-size: 20px;
    box-sizing: border-box;
    border: 1px solid #4b4e56;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;

}
textarea {
    height: 150px;
}
input[placeholder],
textarea {
    color: #9c4c49;
    font-weight: 400;
    font-family: "Roboto Condensed", serif;
    font-size: 20px;
    width: 34%;

}

::placeholder {
    color: #9c4c49;
    font-weight: 400;
    font-family: "Roboto Condensed", serif;
    font-size: 20px;
}
input[type=submit] {
    background-color: #9c4c49;
    color: #fefdfd;
    border: none;
    cursor: pointer;
    width: 34%;

}

/* reponsiveness to other devices */
@media only screen and (max-width: 1024px) {
    input[placeholder],
    textarea,
    input[type=submit] {
        width: 64%;
    }
}
@media only screen and (max-width: 768px) {
    input[placeholder],
    textarea,
    input[type=submit] {
        width: 64%;  
    }
}
@media only screen and (max-width: 414px) {
    input[placeholder],
    textarea,
    input[type=submit] {
        width: 74%;
        font-size: 18px;
    }

    ::placeholder {
        font-size: 18px;
    }
}

@media only screen and (max-width: 375px) {
    input[placeholder],
    textarea,
    input[type=submit] {
        width: 74%;
        font-size: 16px;
    }

    ::placeholder {
        font-size: 16px;
    }

}

@media only screen and (max-width: 320px) {
    input[placeholder],
    textarea,
    input[type=submit] {
        width: 74%;
        font-size: 16px;
    }

    ::placeholder {
        font-size: 16px;
    }
   
}
