form {
    text-align: center;
}
input, textarea {
    font-family: "Roboto Condensed", serif;
    font-size: 20px;
    width: 34%;
    box-sizing: border-box;
    border: 1px solid #4b4e56;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}
textarea {
    height: 150px;
}
input[placeholder],
textarea[placeholder] {
    color: #9c4c49;
    font-weight: 400;
    font-family: "Roboto Condensed", serif;
    font-size: 20px;
}
::placeholder {
    color: #9c4c49;
    font-weight: 400;
    font-family: "Roboto Condensed", serif;
    font-size: 20px;
}
input[type=submit] {
    background-color: #9c4c49;
    color: #fefdfd;
    border: none;
    cursor: pointer;
}

