ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: #4b4e56;
    text-align: center;
    padding: 40px 30px;
    text-decoration: none;
    font-family: "Roboto Condensed", serif;
    font-size: 20px;
}

li a:hover {
    color: #bf4e47;
    opacity: 0.85;
}

img {
    margin-right: 60px;
}
#logo {
    float: left;
}



@media only screen and (max-width: 414px) {
    ul {
         overflow: auto;
         white-space: nowrap;
    }

    ul li {
        display: inline-block;
      }

    li {
        float: none;
    }

    li a {
        font-size: 14px;
    }

    #logo {
        float: none;
    }

    img {
        margin-right: 20px;
    }
}

@media only screen and (max-width: 375px) {
   ul {
         overflow: auto;
         white-space: nowrap;
    }

    ul li {
        display: inline-block;
      }

    li {
        float: none;
    }

    li a {
        font-size: 14px;
    }

    #logo {
        float: none;
    }
    
    img {
        margin-right: 20px;
    }
}

@media only screen and (max-width: 320px) {
   ul {
         overflow: auto;
         white-space: nowrap;
    }

    ul li {
        display: inline-block;
      }

    li {
        float: none;
    }

    li a {
        font-size: 14px;
    }

    #logo {
        float: none;
    }
    
    img {
        margin-right: 20px;
    }
}