ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    white-space: nowrap;
}

li {
    float: left;
}

.links {
    display: flex;
    justify-content: flex-end;
    margin-top: 75px;
    margin-left: auto;
    margin-right: 40px;
    margin-bottom: 0;
    flex-wrap: nowrap;
}

li a {
    margin-top: 38px;
    margin-right: 60px;
    text-decoration: none;
    color: #000000;
    font-family: "Roboto Condensed", serif;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
}

.nav-links:hover {
    color: #bf4e47;
    opacity: 0.85;
}

#logo {
    float: left;
    margin-top: auto;
    margin-left: 40px;
}

@media only screen and (max-width: 1470px) {
    ul {
        overflow: auto;
        white-space: nowrap;
    }
    ul li {
        display: inline-block;
    }
    li {
        float: none;
    }
}

@media only screen and (max-width: 1024px) {
    .links {
        margin-left: auto;
    }
}

@media only screen and (max-width: 768px) {
    .links {
        margin-top: 75px;
        margin-left: 900px;
        margin-right: 0;
    }
}

@media only screen and (max-width: 414px) {
    .links {
        margin-right: 0;
        margin-left: 490pt;
        margin-bottom: 0;
    }

    li a {
        margin-right: 30pt;
        font-size: 14pt;
        line-height: 22pt;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
    }
 
}
